[submodule "Xamarin.Forms"]
	path = Xamarin.Forms
	url = git@github.sec.samsung.net:dotnet/Xamarin.Forms.git
	branch = profiling
[submodule "Sandbox/Tizen.CircularUI"]
	path = Sandbox/Tizen.CircularUI
	url = https://github.com/Samsung/Tizen.CircularUI.git
[submodule "Sandbox/Tizen.TV.UIControls"]
	path = Sandbox/Tizen.TV.UIControls
	url = https://github.com/Samsung/Tizen.TV.UIControls.git
